# Server
SERVER_BASE_URL=http://localhost
PORT=5000
COOKIE_SECRET=SuperSecretCookie
COOKIE_MAX_AGE=1209600

# Client
CLIENT_BASE_URL=http://localhost:5173

# Database
DB_SQLITE_FILE=data/db.sqlite
ADMIN_EMAIL=
ADMIN_PASSWORD=

# Nodemailer
MAILER_SERVICE=gmail
MAILER_HOST=smtp.gmail.com
MAILER_PORT=465
MAILER_SECURE=true
MAILER_USER=
MAILER_PASS=

# JWT
ACCESS_TOKEN_SECRET=SuperSecretAccess
REFRESH_TOKEN_SECRET=SuperSecretRefresh
ACCESS_TOKEN_EXPIRATION=900
REFRESH_TOKEN_EXPIRATION=1209600

# ngrok
NGROK_AUTHTOKEN=
NGROK_DOMAIN=

# Redis
REDIS_URL=redis://redis:6379
